<!-- OVERLAY (mobile) -->
<div
  id="overlay"
  class="fixed inset-0 bg-black/40 hidden z-40 md:hidden"
  onclick="toggleSidebar()"
></div>

<!-- SIDEBAR -->
<aside
  id="sidebar"
  class="fixed md:static top-0 left-0 h-screen z-50 w-64 bg-[#C3D9E6] text-[#1E3A5F] p-6 flex flex-col transform -translate-x-full md:translate-x-0 transition-transform duration-300 ease-in-out"
>
  <!-- HEADER LOGO -->
  <div class="shrink-0 mb-6 text-center">
    <img src="../../assets/images/sumpayblack.webp" class="w-33 mx-auto mt-4" />
  </div>

  <nav
    class="space-y-2 text-sm font-medium flex-1 overflow-y-auto scrollbar-hide"
  >
    <a
      href="./dashboard.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="dashboard"
    >
      Dashboard
    </a>

    <a
      href="./semesters.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="semesters"
    >
      Kelola Semester
    </a>

    <a
      href="./students.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="students"
    >
      Kelola Data Siswa
    </a>

    <a
      href="./teachers.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="teachers"
    >
      Kelola Data Guru
    </a>

    <a
      href="./classes.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="classes"
    >
      Kelola Kelas
    </a>

    <a
      href="./subject.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="subject"
    >
      Kelola Mapel
    </a>

    <a
      href="./teachingAssignment.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="teachingAssignment"
    >
      Penugasan Guru
    </a>

    <a
      href="./lessonTime.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="lessonTime"
    >
      Kelola Jam Mapel
    </a>

    <a
      href="./schedule.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="schedule"
    >
      Kelola Jadwal
    </a>
    <a
      href="./attendanceMonitoring.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="attendanceMonitoring"
    >
      Monitoring Absen
    </a>

    <a
      href="./adminAttendance.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="adminAttendance"
    >
      Absen Siswa
    </a>

    <a
      href="./studentsPermissions.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="studentsPermissions"
    >
      Approve Izin Siswa
    </a>

    <a
      href="./teacherPermissions.html"
      class="sidebar-link block px-4 py-2 rounded-lg hover:bg-white/70 transition"
      data-page="teacherPermissions"
    >
      Approve Izin Guru
    </a>

    <div class="rounded-lg overflow-hidden">
      <button
        id="reportMenuBtn"
        type="button"
        class="w-full flex items-center justify-between px-4 py-2 rounded-lg hover:bg-white/70 transition"
      >
        <span>Cetak Laporan</span>

        <i
          id="reportChevron"
          data-lucide="chevron-right"
          class="w-4 h-4 transition-transform duration-300"
        ></i>
      </button>

      <div
        id="reportSubmenu"
        class="max-h-0 overflow-hidden transition-[max-height] duration-300 ml-4 space-y-2"
      >
        <a
          href="./teacherAttendanceReport.html"
          class="sidebar-link block px-4 py-2 text-sm rounded-lg hover:bg-white/70 transition"
          data-page="teacherAttendanceReport"
        >
          Laporan Absensi Guru
        </a>

        <a
          href="./studentAttendanceReport.html"
          class="sidebar-link block px-4 py-2 text-sm rounded-lg hover:bg-white/70 transition"
          data-page="studentAttendanceReport"
        >
          Laporan Absensi Siswa
        </a>
      </div>
    </div>
  </nav>
  <!-- BOTTOM MENU -->
  <div class="mt-auto pt-4 border-t border-white/40">
    <button
      id="logoutBtn"
      class="w-full flex items-center gap-3 px-4 py-2 rounded-lg hover:bg-white/70 transition text-sm font-medium"
    >
      <i data-lucide="log-out" class="w-4 h-4"></i>

      <span> Logout </span>
    </button>
  </div>
</aside>
