@import "tailwindcss";
/* hide scrollbar tapi tetap bisa scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE dan Edge lama */
  scrollbar-width: none; /* Firefox */
}
